@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Simple app to demonstrate Azure Backup</h1>
<p>This is sample web app to demonstrate <a href="https://docs.microsoft.com/en-us/azure/backup/backup-overview">Azure Backup</a>. Image is taken from <a href="https://docs.microsoft.com">https://docs.microsoft.com</a>.</p>
<img alt="Azure Image Backup"
     class="img-fluid"
     src="~/images/azure-backup-overview.png"/>